<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Decimo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #loginForm="ngForm" (ngSubmit)="logInUser(loginForm)">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ngModel name="email"  required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" ngModel name="password"  required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="!loginForm.valid" type="submit" color="danger" expand="block">Accedi
        </ion-button>
        <h6>Non sei ancora iscritto? <a [routerLink]="['/signup']" class="small-text">Registrati qui.</a></h6>
      </ion-col>
    </ion-row>
  </form>
</ion-content>