<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Decimo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="handleButtonClick()" type="submit" color="danger" expand="block">
          {{ isUserLoggedIn() ? 'premere per continuare' : 'Sign In' }}
        </ion-button>
        <h6>Non sei ancora iscritto? <a [routerLink]="['/signup']" class="small-text">Registrati qui.</a></h6>
        
      </ion-col>
    </ion-row>
  </form>
</ion-content>