<div *ngIf="isLoggedIn()">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NEW GAME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Decimo</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="newMatchForm" (ngSubmit)="newGame()">

    <ion-item lines="full" >
      <ion-label>Giocatori mancanti</ion-label>
      <ion-button name="giocatori_mancanti"  (click)="openPickerNumberPlayer()">Seleziona: {{number_player}}</ion-button>
    </ion-item>
    
    <ion-item>
      <ion-label>Data e ora</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-popover [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" name="data_ora" formControlName="data_ora"></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Informazioni aggiuntive</ion-label>
      <ion-textarea type="text" name="infoPartita" formControlName="info"></ion-textarea>
    </ion-item>

    <ion-row>
      <ion-list>
        <ion-item>
          <ion-select placeholder="Provincia" label="Seleziona provincia" #prov (ionChange)="handleChangeProvincia(prov.value)" okText="Conferma" cancelText="Annulla" formControlName="provincia">
            <ion-select-option *ngFor="let prov of listaProvince" [value]="prov" >{{prov}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-select placeholder="Campo da gioco" label="Seleziona campo" #campo (ionChange)="handleChangeCampo(campo.value)" okText="Conferma" cancelText="Annulla" formControlName="campo">
            <ion-select-option *ngFor="let campo of listaCampi">{{campo}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button [disabled]="newMatchForm.invalid"  type="submit" color="danger" expand="block">Crea partita</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <form [formGroup]="newFieldForm" (ngSubmit)="nuovoCampo()">
    <ion-item>
      <ion-label>
        <h1>Aggiungi campo</h1>
      </ion-label>
    </ion-item>

    <ion-row>
      <ion-list>
        <ion-item>
          <ion-select placeholder="Provincia campo" label="Seleziona provincia" okText="Conferma" cancelText="Annulla" formControlName="provinciaCampo">
            <ion-select-option *ngFor="let prov of listaProvince" [value]="prov" >{{prov}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-select placeholder="Tipologia campo" label="Tipo campo" okText="Conferma" cancelText="Annulla" formControlName="tipoCampo">
            <ion-select-option *ngFor="let tipoCampo of tipologieCampi">{{tipoCampo}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row>
      <ion-item lines="full">
        <ion-label position="floating">Descrizione</ion-label>
        <ion-textarea type="text" name="descCampo" formControlName="descrizioneCampo"></ion-textarea>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item lines="full">
        <ion-label position="floating">Via</ion-label>
        <ion-textarea type="text" name="viaCampo" formControlName="viaCampo"></ion-textarea>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="newFieldForm.invalid"  type="submit" color="danger" expand="block">Aggiungi campo da gioco</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <app-explore-container name="Crea partita"></app-explore-container>
</ion-content>
</div>