<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NEW GAME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Decimo</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #newMatchForm="ngForm" (ngSubmit)="newGame(newMatchForm)">
    <ion-item lines="full">
      <ion-label>Giocatori mancanti</ion-label>
      <ion-button (click)="openPicker()">Seleziona: {{number_player}}</ion-button>
    </ion-item>
    
    <ion-item>
      <ion-label>Data e ora</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-popover [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" ngModel name="dataPartita"></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Informazioni aggiuntive</ion-label>
      <ion-textarea type="text" ngModel name="infoPartita" required></ion-textarea>
    </ion-item>

    <ion-row>
      <ion-list>
        <ion-item>
          <ion-select placeholder="Provincia" label="Seleziona provincia" #prov (ionChange)="handleChangeProvincia(prov.value)" okText="Conferma" cancelText="Annulla">
            <ion-select-option *ngFor="let prov of listaProvince" [value]="prov">{{prov}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-select placeholder="Campo da gioco" label="Seleziona campo" #campo (ionChange)="handleChangeCampo(campo.value)" okText="Conferma" cancelText="Annulla">
            <ion-select-option *ngFor="let campo of listaCampi">{{campo}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button [disabled]="!newMatchForm.valid"  type="submit" color="danger" expand="block">Crea partita</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <app-explore-container name="Crea partita"></app-explore-container>
</ion-content>