<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" vertical="top" horizontal="">Decimo</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Home"></app-explore-container>

  <ion-item>
    <ion-searchbar placeholder="Cerca partita,provincia,utente..."></ion-searchbar>
  </ion-item>



  <ion-list [inset]="true">
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tipo campo</ion-card-title>
          <ion-card-subtitle>Luogo</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Descrizione partita e giocatori rimanenti
        </ion-card-content>
        <ion-button fill="clear">Gioca alla partita</ion-button>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tipo campo</ion-card-title>
          <ion-card-subtitle>Luogo</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Descrizione partita e giocatori rimanenti
        </ion-card-content>
        <ion-button fill="clear">Gioca alla partita</ion-button>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
