<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" vertical="top" horizontal="">Decimo</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Home"></app-explore-container>

  <ion-item>
    <ion-searchbar placeholder="Cerca partita,provincia,utente..."></ion-searchbar>
  </ion-item>
  <ion-item *ngIf="controlloLunghezza()">
      Nessun campo salvato in questa provincia nel sistema
  </ion-item>

  <ion-list [inset]="true">
    <ion-item *ngFor="let app of campo">
      <ion-card>
        <ion-card-header>
          <ion-card-title>NOME CAMPO : {{app.tipo}}</ion-card-title>
          <ion-card-subtitle>PROVINCIA CAMPO : {{app.provincia}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          DESCRIZIONE PARTITA : {{app.descrizione}}
        </ion-card-content>
        <ion-card-content>
          PERSONE MANCANTI : {{app.personeMancanti}}
        </ion-card-content>
        <ion-button fill="clear">Gioca alla partita</ion-button>
      </ion-card>
    </ion-item>

  </ion-list>

</ion-content>
