<div *ngIf="isLoggedIn()">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PERSONAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Decimo</ion-title><br>
      <!--<ion-button slot="end" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon></ion-button>-->
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>
      {{getEmail()}}
    </ion-label>
    <ion-button type="submit" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-item>

  
  <ion-list>
    <ion-item>
      <ion-label>NOME : {{getNome()}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>PROVINCIA: {{getProvincia()}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>PARTITE GIOCATE: </ion-label>
    </ion-item>
    <ion-item>
      <ion-list [inset]="true">
        <ion-item *ngFor="let app of campo">
          <ion-card>
            <ion-card-header>
              <ion-card-title>NOME CAMPO: {{app.tipo}}</ion-card-title>
              <ion-card-subtitle>PROVINCIA: {{app.provincia}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>DESCRIZIONE : {{app.descrizione}}</ion-card-content>
            <ion-card-content>PERSONE MANCANTI: {{app.personeMancanti}}</ion-card-content>
            <ion-card-content>ORA: {{getOrario(app.orario)}}</ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>

    </ion-item>
  </ion-list>
  <app-explore-container name="Area personale"></app-explore-container>
</ion-content>

</div>