<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Decimo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="signupForm" (ngSubmit)="signUpUser()" >
    <ion-item lines="full">
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" name="nomeUtente" formControlName="nome" ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Conferma password</ion-label>
      <ion-input type="password" name="confirmpwd" formControlName="confirmpwd"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Provincia</ion-label>
      <ion-list >
        <ion-item>
          <ion-select placeholder="Provincia" label="Seleziona provincia" #prov (ionChange)="handleChange(prov.value)" okText="Conferma" cancelText="Annulla">
            <ion-select-option *ngFor="let prov of listaProvince" [value]="prov">{{prov}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="signupForm.invalid" [routerLink]="['/login']" type="submit" color="danger" expand="block">Sign Up</ion-button>
        <ion-label style="color: red" *ngIf="nomeFormControl && nomeFormControl.invalid && nomeFormControl.touched" >Input del nome non valido</ion-label>
        <br>
        <ion-label style="color: red"  *ngIf="emailFormControl && emailFormControl.invalid && emailFormControl.touched" >Email non valida</ion-label>
        <br>
        <ion-label style="color: red"  *ngIf="passwordFormControl && passwordFormControl.invalid && passwordFormControl.touched" >La password deve essere lunga lameno 8 caratteri</ion-label>
        <br>
        <ion-label style="color: red"  *ngIf="provinciaFormControl && provinciaFormControl.invalid && provinciaFormControl.touched" >La provincia deve essere lunga 2 caratteri (A-Z)</ion-label>
        <br>
        <ion-label style="color: red"  *ngIf="signupForm.errors?.['passwordMismatchError']" >Le password non coincidono</ion-label>
      </ion-col>
    </ion-row>
    
  </form>
</ion-content>