<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Decimo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Conferma password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmpwd" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Provincia</ion-label>
      <ion-input type="text" [(ngModel)]="provincia" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="signUpUser()" [routerLink]="['/login']" type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>